<html>
    <title>Todo list</title>
    <link rel="stylesheet" href="app.css">
    <body>
        <div class="coloredFrame">
            <div class="topFrame"></div>
            <div class="container">
                <header><h1>TODO LIST</h1></header>
                <section class="form">
                    <input type="text" name="" id="todoInput" placeholder="Enter assignment">
                </section>

                <ul class="list">
                </ul>
            </div>
            
            <div class="topFrame"></div> 
        </div>
        <!-- -:: LOCAL STORAGE VERSION ::- -->
        <!-- <script src="localStorage.js"></script> -->
        <!-- -:: SERVER VERSION ::- -->
        <script src="app.js"></script>
    </body>
</html>